
.box-width{
   /* border: 1px solid red;*/
    width:100%;
    height:auto;
}

img{
    width: 100%;
}

.schema{
    border: 1px solid blue;  
}

.remove-dots{
    list-style-type: none;
}

.one-third-space{
   width: calc(100% / 3);
   padding: 20px;
}

.content-gap{
    gap:20px;
}

.img-and-descriptions{
 background-color: rgba(17, 32, 48, 1);
 padding: 20px;
}
